<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDa49ivZHyLMd5jSt8dEw_2MiJ6SHU-F3U</string>
	<key>GCM_SENDER_ID</key>
	<string>689740677634</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shubham1719.desidrama</string>
	<key>PROJECT_ID</key>
	<string>desidrama-1a05c</string>
	<key>STORAGE_BUCKET</key>
	<string>desidrama-1a05c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:689740677634:ios:016ad9795e40938fdd5d1b</string>
</dict>
</plist>